.Quality {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Cairo', sans-serif;
  background: #fff;
}
.quality-content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.quality-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.quality-text {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.quality-text .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

.quality-text span {
  display: block;
  color: var(--main-color);
  font-size: 18px;
}

@media (max-width: 768px) {
  .quality-content {
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
  }

  .quality-text {
    max-width: 100%;
  }

  .quality-text .sub-title {
    font-size: 18px;
  }

  .quality-text span {
    font-size: 16px;
  }
}
